.home-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow 1;
}

.home-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-itmes: stretch;
  justify-content: flex-flex-end;
}

.home-section .flower-image {
  background-image: url(flowerflower.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}
