.homeformat {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.homeformat .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.homeformat .flowerimage {
  background-image: url(flower.png);
  flex-grow: 1;

  min-width: 30vw;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.homeformat .heropagetitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}


.aboutformat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.adtext {
  font-size: 3em;
  font-weight: bold;

}

.colortext {
  color: #BC3A80;
}


.greybox {
  background-color: #202027;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}



@media (max-width: 900px) {
  .aboutformat {
    flex-direction: column;
    justify-content: center;
  }



@media (max-width: 900px) {
  .homeformat .img-wrapper {
    display: none;
  }

  .homeformat {
    justify-content: center;
  }
}

.greybox {
  width: 80vw;
  max-width: inherit;
  margin: 2rem 0;
}
}
